.cards {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-content: space-around;
}

.banners {
  display: flex;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cards  img{
  display: flex;
   width: 286px;
   height: 429px;
}

.banners:hover {
  transform: scale(1.1);
}

.nav-link_active:hover{
  color: black;
}
