.card{
  background-color: white;
  display: flex;
  flex-wrap:wrap;
  
  justify-content: center;
  align-content: space-around;
  margin: 20px;
  width:250px;
  height:250px;


}


#cartas{
display: flex;
  flex-wrap:wrap;
}
